# Ignore everything
*

# Allow pipeline config
!bitbucket-pipelines.yml

# Allow only the plugin and child theme
!wp-content/
!wp-content/plugins/
!wp-content/plugins/rishumit-forms/
!wp-content/plugins/rishumit-forms/**/*
!wp-content/themes/
!wp-content/themes/astra-child/
!wp-content/themes/astra-child/**/*
